<html>
  <head>
    <title>Austin Gray</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            width: 100%;
        }

        h3 {
            font-size: 40px;
        }

        .heading {
            margin-top: 30px;
            margin-bottom: 80px;
        }
        @media screen and (max-width: 576px) {}        
    </style>
  </head>
  <body>
    <div class='container'>
      <div class="heading row text-center text-dark">
        <h3 class="col">Austin Gray</h3>
      </div>
    </div>
  </body>
</html>